/* componentsStyles/InvestmentCard.module.css */
.card {
    border: 1px solid var(--zinc-400);
    border-radius: 8px;
    padding: 1.6rem;
    margin: 0.8rem;
    background-color: white;
    max-width: 30rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

.cardTitle {
    font-size: 1.2em;
    color: var(--zinc-700);
    margin-bottom: 0.8rem;
}

.card p {
    margin: 0.4rem 0;
    color: var(--zinc-500);
}

.growthSpan {
    color: var(--green);
    font-weight: bold;
}

/* Estilos para o card */
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deleteButton {
    background: none;
    border: none;
    color: var(--red-500);
    cursor: pointer;
    font-size: 1.2rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
}

.confirmButton {
    background-color: var(--red-500);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
}

.cancelButton {
    background-color: var(--zinc-500);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
}
