.budgetsListDiv {
    padding: 1.5rem 3rem;
    align-items: center;
    justify-content: center;
}

.budgetsListSection {
    align-items: center;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid var(--zinc-400);
    border-radius: 0.375rem;
    gap: 0.5rem;
    padding: 1rem;
    min-width: 300px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.budgetListTitle {
    padding: 1rem 3rem 0.5rem 3rem;
    color: var(--zinc-500);
    font-size: 1.2rem;
}

.budgetTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.budgetTable th,
.budgetTable td {
    border: 1px solid var(--zinc-400);
    padding: 0.75rem;
    text-align: left;
}

.categoryCell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.budgetTable th {
    background-color: #ddd;
    color: var(--zinc-700);
}

.budgetTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.budgetTable tr:hover {
    background-color: #e0e0e0;
}

.actions {
    display: flex;
    gap: 10px;
}

.editButton,
.deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #007BFF;
}

.deleteButton {
    color: #FF0000;
}

.editButton:hover,
.deleteButton:hover {
    opacity: 0.7;
}
