/* Estilo Geral para Formulários */
.form-container {
    padding: 1.5rem 0.5rem;
    align-items: center;
    justify-content: center;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 100%;
}

.form-container.spentState {
    background-color: #ffe5e5; /* Vermelho claro */
  }
  
  .form-container.inputState {
    background-color: #e5ffe5; /* Verde claro */
  }

/* Título do Formulário */
.form-title {
    font-size: 1.5rem;
    color: var(--zinc-500);
    text-align: center;
    margin-bottom: 1rem;
}

/* Estilo do Formulário */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

/* Div de Input */
.input-div {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

/* Label e Span */
.label {
    text-transform: capitalize;
}

.label span {
    color: var(--red-500);
}

/* Inputs e Selects */
.form-input,
.form-select {
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid var(--zinc-400);
    outline: none;
    min-width: 25rem;
}

.form-input:focus,
.form-select:focus {
    border-color: var(--blue);
}

/* Botões de Formulário */
.form-button {
    background-color: var(--blue);
    color: white;
    border-radius: 0.375rem;
    padding: 0.5rem;
    cursor: pointer;
    
    border: none;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: var(--green);
}

/* Links de Formulário */
.form-link {
    font-size: 0.75rem;
    color: var(--zinc-500);
    text-align: center;
}

.form-link strong {
    color: var(--zinc-700);
}

/* Mensagem de Erro */
.form-error {
    color: var(--red-500);
    font-size: 0.75rem;
    margin-top: 0.25rem;
}

/* Tabela de Dados (Ex: Orçamento) */
.form-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.form-table th,
.form-table td {
    border: 1px solid var(--zinc-400);
    padding: 0.75rem;
    text-align: left;
}

.form-table th {
    background-color: #ddd;
    color: var(--zinc-700);
}

.form-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.form-table tr:hover {
    background-color: #e0e0e0;
}

/* Layout Responsivo */
@media (max-width: 600px) {
    .form-section {
        padding: 1rem;
        
    }

    .form-input,
    .form-select {
        max-width: 100%;
        min-width: 100%;
    }
}