.chartSection{
    align-items: center;
    justify-content: center;
    text-align: left;
    display: flex;
    background-color: white;
    border: 1px solid var(--zinc-400);
    border-radius: 0.375rem;
    gap: 0.5rem;
    padding: 1rem;
    min-width: 300px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.reportButton{
    display: flex;
    flex-direction: row;
    align-items: center;  /* Alinha verticalmente os itens no centro */
    gap:0.5rem;
    background-color: var(--blue);
    border-radius: 5px;
    padding: 0.5rem;
    color: white
}

.dashboardDiv {
    padding: 1.5rem 3rem;
    align-items: center;
    justify-content: center;
}

.budgetSection {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 0.375rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.budgetSection h1{
    margin-bottom: 2rem;
}

/* Ajustes para responsividade */
@media (max-width: 768px) {
    .budgetSection {
        padding: 1rem;
    }
    .chartSection{
        display: flex;
        flex-direction: column;
    }

}

.spent_income_Section {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 0.375rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}