/* Invest form */
.investFormDiv {
    padding: 1.5rem 3rem;
    align-items: center;
    justify-content: center;
    color: black;
}

.investFormSection {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--zinc-400);
    border-radius: 0.375rem;
    max-width: 100%;
}

.investFormBt {
    background-color: var(--green);
    color: white;
    border-radius: 0.375rem;
    padding: 0.5rem;
    cursor: pointer;
    max-width: 20rem;
}

.investFormBt:hover {
    background-color: var(--blue);
    transition: 0.5s;
}

.investForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 10rem;
    min-width: 5rem;
    background-color: white;
}
/* Fim - Invest form */

.investsDiv {
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

.investTitle, .investListTitle {
    margin: 0;
    padding: 1rem 3rem 0.5rem 3rem;
    color: var(--zinc-500);
    font-size: 1.2rem;
}

/* Layout responsivo para cards */
.investListSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0.5rem 2rem;
}

@media (max-width: 1024px) {
    .investListSection {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .investListSection {
        grid-template-columns: 1fr;
    }

    .investTitle, .investListTitle {
        margin: 0;
        padding: 0.5rem;
        color: var(--zinc-500);
        font-size: 0.8rem;
    }
}
