/* componentsStyles/InvestmentCard.module.css */
.card {
    border: 1px solid var(--zinc-400);
    border-radius: 8px;
    padding: 1.6rem;
    margin: 0.8rem;
    background-color: white;
    max-width: 30rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

.cardTitle {
    font-size: 1.2em;
    color: var(--zinc-700);
    margin-bottom: 0.8rem;
}

.card p {
    margin: 0.4rem 0;
    color: var(--zinc-500);
}

.growthSpan {
    color: var(--green);
    font-weight: bold;
}

/* Estilos para o card */
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

