/* NotificationList.module.css */
.notificationsSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0.5rem 2rem;
}

.notificationsSection p {
    text-align: center;
    color: var(--zinc-600);
    font-size: 1.1rem;
}

@media (max-width: 700px) {
    @media (max-width: 1024px) {
        .notificationsSection {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media (max-width: 600px) {
        .notificationsSection {
            grid-template-columns: 1fr;
        }
    }
}